{{define "title"}}Config parser (CLI){{end}}
{{define "main"}}

<h2>Cisco config parser CLI</h2>
<p>This app is a CLI version of <a href="https://github.com/bondar-aleksandr/cisco_parser">https://github.com/bondar-aleksandr/cisco_parser</a>
<br>
Documentation and source code: <a href='https://github.com/bondar-aleksandr/cisco_config_parser'>bondar-aleksandr/cisco_config_parser</a> 
</br>
</p>
<hr>
<h2>Download</h2>
<ul>
    <li><a href='/downloads/config_parser_windows.tar'>windows 64 bit</a></li>
    <li><a href='/downloads/config_parser_linux.tar'>linux amd64</a></li>
</ul>

{{end}}