{{define "title"}}IOS config-parser{{end}}
{{define "main"}}
    <p>
        {{.Message}}
    </p>
    {{if .ParsingStatus}} 
        <form action="/config-parser/download">
        <button type="submit">Get Result</button>
        </form>
    {{end}}
{{end}}