{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>List of apps available</h2>
    <ul>
        <li>
            <a href='/config-parser'>IOS config parser</a>
        </li>
        <li>
            <a href='/ssh-client'>Cisco ssh client</a>
        </li>
    </ul>
{{end}}